.booking .booking-cont {
  width: 1000px;
  margin: 50px auto;
  overflow: hidden;
}

.booking .booking-cont .order-left {
  width: 580px;
  float: left;
}

.booking .booking-cont .order-left .buy-step {
  margin: 15px 0 40px 20px;
}

.booking .booking-cont .order-left .buy-step:after {
  content: '';
  display: table;
  clear: both;
}

.booking .booking-cont .order-left .buy-step li {
  border-top: 4px solid #efefef;
  height: 50px;
  width: 165px;
  float: left;
  position: relative;
}

.booking .booking-cont .order-left .buy-step li em {
  font-style: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  color: #999;
}

.booking .booking-cont .order-left .buy-step .step1 {
  border-top: 4px solid #ff9d00;
}

.booking .booking-cont .order-left .buy-step .step1 p {
  position: absolute;
  left: 0;
  top: -12px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  background: #ff9d00;
}

.booking .booking-cont .order-left .buy-step .step1 p i {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #FFF;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 7px;
}

.booking .booking-cont .order-left .buy-step .step1 em {
  left: -15px;
  color: #ff9d00;
}

.booking .booking-cont .order-left .buy-step .step2 {
  width: 230px;
}

.booking .booking-cont .order-left .buy-step .step2 p {
  position: absolute;
  left: 50%;
  margin-left: -11px;
  top: -12px;
  width: 22px;
  height: 22px;
  text-align: center;
  border: 1px solid #e8e8e8;
  line-height: 22px;
  border-radius: 50%;
  background: #FFF;
}

.booking .booking-cont .order-left .buy-step .step2 p i {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #efefef;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 7px;
}

.booking .booking-cont .order-left .buy-step .step2 em {
  left: 88px;
}

.booking .booking-cont .order-left .buy-step .step3 p {
  position: absolute;
  right: 0;
  top: -12px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  background: #FFF;
}

.booking .booking-cont .order-left .buy-step .step3 p i {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #efefef;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 7px;
}

.booking .booking-cont .order-left .buy-step .step3 em {
  left: 125px;
  display: block;
  width: 60px;
}

.booking .booking-cont .order-left .order-info {
  margin-top: 30px;
}

.booking .booking-cont .order-left .order-info h2 {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  line-height: 22px;
}

.booking .booking-cont .order-left .order-info h2 i {
  width: 22px;
  height: 22px;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  background: #ff9d00;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  line-height: 22px;
  font-style: normal;
  vertical-align: top;
  margin-right: 17px;
}

.booking .booking-cont .order-left .order-info h2 span {
  color: #999;
}

.booking .booking-cont .order-left .order-info .user-int {
  padding-left: 39px;
  width: 556px;
}

.booking .booking-cont .order-left .order-info .user-int .form-sec {
  position: relative;
  margin-top: 16px;
  margin-right: 16px;
}

.booking .booking-cont .order-left .order-info .user-int .form-sec label {
  position: absolute;
  left: 10px;
  top: 11px;
  padding: 0 6px;
  line-height: 18px;
  background: transparent;
  font-size: 14px;
  color: #999;
  -webkit-transition: all .2s linear;
  cursor: text;
  z-index: 2;
  transition: all .2s linear;
}

.booking .booking-cont .order-left .order-info .user-int .form-sec.form-sec-focus label {
  top: -7px;
  font-size: 12px;
  color: #999;
  background: #FFF;
}

.booking .booking-cont .order-left .order-info .user-int .form-sec input {
  width: 230px;
  height: 38px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 0 15px;
  line-height: 18px;
  -webkit-transition: border-color .2s linear;
  transition: border-color .2s linear;
  background: #FFF;
  color: #666;
}

.booking .booking-cont .order-left .order-info .user-int .form-sec.form-sec-focus input {
  border: 1px solid #e5e5e5;
}

.booking .booking-cont .order-left .order-info .user-int .form-sec textarea {
  width: 508px;
  height: 38px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 10px 15px;
  line-height: 18px;
  -webkit-transition: border-color .2s linear;
  transition: border-color .2s linear;
  background: #FFF;
  color: #666;
  resize: none;
  overflow: auto;
}

.booking .booking-cont .order-right {
  width: 310px;
  float: right;
}

.booking .booking-cont .order-right .image {
  position: relative;
  width: 310px;
  height: 182px;
  overflow: hidden;
}

.booking .booking-cont .order-right .image img {
  width: 100%;
}

.booking .booking-cont .order-right .order-adv {
  width: 310px;
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 0 16px;
}

.booking .booking-cont .order-right .order-adv h2 {
  font-size: 16px;
  color: #333;
  line-height: 24px;
  padding: 10px 0;
  font-weight: normal;
}

.booking .booking-cont .order-right .order-adv .order-info {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
}

.booking .booking-cont .order-right .order-adv .order-info p {
  line-height: 30px;
  overflow: hidden;
}

.booking .booking-cont .order-right .order-adv .order-info p span {
  font-size: 16px;
  color: #333;
}

.booking .booking-cont .order-right .order-adv .order-info p b {
  font-weight: normal;
  float: left;
  color: #999;
  font-size: 14px;
}

.booking .booking-cont .order-right .order-adv .order-info p i {
  font-style: normal;
  font-size: 14px;
  color: #333;
  float: right;
  margin-left: 25px;
}

.booking .booking-count {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.booking .booking-count .price {
  float: right;
}

.booking .booking-count .price ul {
  padding-top: 5px;
}

.booking .booking-count .price ul li {
  font-size: 14px;
  color: #333;
  margin-top: 15px;
  width: 300px;
  overflow: hidden;
}

.booking .booking-count .price ul li span {
  float: left;
}

.booking .booking-count .price ul li em {
  float: right;
}

.booking .booking-count .price ul .price-count {
  margin-top: 30px;
}

.booking .booking-count .price ul .price-count span {
  line-height: 45px;
}

.booking .booking-count .price ul .price-count b {
  float: right;
  font-weight: normal;
  color: #f60;
  font-size: 20px;
}

.booking .booking-count .price ul .price-count b i {
  font-size: 30px;
  font-style: normal;
}

.booking .sub-order {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  height: 40px;
}

.booking .sub-order .btn-order {
  position: absolute;
  right: 0;
  top: 17px;
  background: #ff9d00;
  width: 130px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  color: #FFF;
  font-size: 16px;
}
