.footer {
  color: #fff;
  width: 100%;
  height: 200px;
  margin-top: 50px;;
}

.footer .row {
  margin-left: 0;
  margin-right: 0;
  background-color: #3c3c3c;
}
.footer .row .col-md-2 {
  padding: 30px 20px;
}

.footer .row .col-md-2 .about-header {
  border-left: 2px solid #fff;
  font-size: 18px;
  padding-left: 20px;
}

.footer .row .col-md-2 .about-body {
  margin-top: 30px;

}

.footer .row .col-md-2 .about-body li {
  font-size: 14px;
  margin-bottom: 20px;
}

.footer .row .qrcode {
  padding-top: 30px;
}

.footer .row .qrcode img {
  width: 110px;
}

.footer .row .qrcode .tips {
  font-size: 13px;
  width: 110px;
  text-align: center;
  margin-top: 10px;
}