
.carousel {
  height: 480px;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .item {
  height: 100%;
}

.carousel .carousel-inner .item img {
  height: 100%;
  width: 100%;
}

.carousel .carousel-inner .item .carousel-caption {
  font-size: 18px;
  text-align: right;
}

.carousel .carousel-inner .item .carousel-caption .date {
  font-size: 24px;
  margin-right: 10px;
  font-weight: bold;
}

.carousel .search-box {
  position: absolute;
  width: 400px;
  height: 80px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
}

.carousel .search-box .search-input {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
  border: none;
  padding: 5px;
  width: 280px;
}

.carousel .search-box .search-btn {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #ff9d00;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
}

.carousel .search-box .search-btn .glyphicon {
  color: #fff;
}

.index-body {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-header {
  height: 30px;
  line-height: 30px;
  border-left: 3px solid #ff9d00;
  padding-left: 15px;
  margin-bottom: 30px;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-header .left {
  font-size: 22px;
  font-weight: bold;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-header .right {
  margin-left: 10px;
  font-size: 18px;
  color: #888;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content {
  width: 100%;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content:after {
  display: table;
  content: '';
  clear: both;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item {
  width: 30%;
  margin-right: 5%;
  height: auto;
  float: left;
  cursor: pointer;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item:last-child {
  margin-right: 0;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item img {
  width: 100%;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .describe {
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .describe .describe-inner {
  max-height: 60px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  padding: 0 10px;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .describe .describe-inner:hover {
  padding-top: 10px;
  max-height: 200px;
  transition: max-height 0.3s;
  color: #ff9d00;
  background-color: #f8f8f8;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .price {
  text-align: right;
  margin-right: 10px;
  color: #ff9d00;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .price .number {
  font-size: 18px;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .price .word {
  font-size: 14px;
}


.index-body .row .col-md-2 .activity {

}

.index-body .row .col-md-2 .activity .activity-header {
  margin-bottom: 30px;
  height: 30px;
  line-height: 30px;
  border-left: 3px solid #ff9d00;
  padding-left: 15px;
  font-size: 20px;
}
.index-body .row .col-md-2 .activity .activity-item {
  cursor: pointer;
  width: 100%;
}

.index-body .row .col-md-2 .activity .activity-item img {
  width: 100%;
}

.index-body .row .col-md-2 .activity .activity-item .activity-describe {
  background-color: #F0F8FA;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -1px;
  padding-top: 20px;
}

.index-body .row .col-md-2 .activity .activity-item .activity-describe .activity-describe-header {
  margin-bottom:20px;
  font-size:16px;
}

.index-body .row .col-md-2 .activity .activity-item .activity-describe .activity-describe-body {
  font-size: 14px;
  line-height: 22px;
  color: #666;
}

.index-body .row .col-md-2 .activity .strategy-header {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 30px;
  line-height: 30px;
  border-left: 3px solid #ff9d00;
  padding-left: 15px;
  font-size: 20px;
}


.col-md-7 .nav-tabs {
  border-bottom: none;
  margin-bottom: 30px;
}

.col-md-7 .nav-tabs li a {
  color: #000;
  cursor: pointer;
}

.col-md-7 .nav-tabs li.active a {
  color: #000;
  font-weight: bold;
  border-radius: 0px;
  border-top: 2px solid #ff9d00;
}