
.carousel {
  height: 480px;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .item {
  height: 100%;
}

.carousel .carousel-inner .item img {
  height: 100%;
  width: 100%;

}

.carousel .carousel-inner .item .carousel-caption {
  font-size: 18px;
  text-align: right;
  cursor: pointer;
}

.carousel .carousel-inner .item .carousel-caption .date {
  font-size: 24px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.carousel .search-box {
  position: absolute;
  width: 400px;
  height: 80px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
}

.carousel .search-box .search-input {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
  border: none;
  padding: 5px;
  width: 280px;
}

.carousel .search-box .search-btn {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #ff9d00;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
}

.carousel .search-box .search-btn .glyphicon {
  color: #fff;
}

.index-body {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-header {
  height: 30px;
  line-height: 30px;
  border-left: 3px solid #ff9d00;
  padding-left: 15px;
  margin-bottom: 30px;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-header .left {
  font-size: 22px;
  font-weight: bold;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-header .right {
  margin-left: 10px;
  font-size: 18px;
  color: #888;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content {
  width: 100%;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content:after {
  display: table;
  content: '';
  clear: both;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item {
  width: 30%;
  margin-right: 5%;
  height: auto;
  float: left;
  cursor: pointer;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item:last-child {
  margin-right: 0;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item img {
  width: 100%;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .describe {
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .describe .describe-inner {
  max-height: 60px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  padding: 0 10px;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .describe .describe-inner:hover {
  padding-top: 10px;
  max-height: 200px;
  transition: max-height 0.3s;
  color: #ff9d00;
  background-color: #f8f8f8;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .price {
  text-align: right;
  margin-right: 10px;
  color: #ff9d00;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .price .number {
  font-size: 18px;
}

.index-body .row .col-md-7 .flash-sell .flash-sell-content .flash-sell-item .price .word {
  font-size: 14px;
}


.index-body .row .col-md-2 .activity .activity-header {
  margin-bottom: 30px;
  height: 30px;
  line-height: 30px;
  border-left: 3px solid #ff9d00;
  padding-left: 15px;
  font-size: 20px;
}
.index-body .row .col-md-2 .activity .activity-item {
  cursor: pointer;
  width: 100%;
}

.index-body .row .col-md-2 .activity .activity-item img {
  width: 100%;
}

.index-body .row .col-md-2 .activity .activity-item .activity-describe {
  background-color: #F0F8FA;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -1px;
  padding-top: 20px;
}


.index-body .row .col-md-2 .activity .activity-item .activity-describe .activity-describe-body {
  font-size: 14px;
  line-height: 22px;
  color: #666;
}

.index-body .row .col-md-2 .activity .strategy-header {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 30px;
  line-height: 30px;
  border-left: 3px solid #ff9d00;
  padding-left: 15px;
  font-size: 20px;
}


.col-md-7 .nav-tabs {
  border-bottom: none;
  margin-bottom: 5px;
}

.col-md-7 .nav-tabs li a {
  color: #000;
  cursor: pointer;
}

.col-md-7 .nav-tabs li.active a {
  color: #000;
  font-weight: bold;
  border-radius: 0px;
  border-top: 2px solid #ff9d00 !important;
}

.col-md-7 .goto-content span{
  position: absolute;
  left: 3%;
  top: 1010px;
  color: #fff;
  cursor: pointer;
}

.col-md-7 .goto-content{
  margin-bottom: 30px;
}

.col-md-7 .to-where-list {
  margin-top: -240px;
  float: right;
}



.col-md-7 .to-where-list li {
  width: 450px;
  height: 51px;
  line-height: 31px;
  border-bottom: 1px solid #f3f2e4;
}

.col-md-7 .to-where-list li a {
  display: block;
  text-decoration: none;
  padding: 10px 0 10px 14px;
  width: 386px;
  height: 31px;
  cursor: pointer;
}

.col-md-7 .to-where-list-desc {
  width: 262px;
  margin-right: 15px;
  display: inline-block;
  color: #999;
}

.col-md-7 .to-where-list-name {
  color: #ff9d00;
  font-size: 18px;
  margin-right: 9px;
}

.col-md-7 .to-where-love {
  width: 68px;
  color: rgb(244, 116, 0);
  display: inline-block;
}

.col-md-7 .hot-travel .item {
  display: block;
  margin: 30px 0 0px 0;
  color: #666;
  overflow: hidden;
  padding-bottom: 30px;
  border-bottom: 1px solid #6363;
}


.col-md-7 .hot-travel .item .image {
  float: left;
  display: inline;
  margin-right: 20px;
  width: 200px;
  height: 150px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.col-md-7 .hot-travel .item .image img {
  width: 100%;
}



.col-md-7 .hot-travel .item .detail {
  float: right;
  width: 580px;
}

.col-md-7 .hot-travel .item .detail .info {
  height: 150px;
  overflow: hidden;
}

.col-md-7 .hot-travel .item .detail p {
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 32px;
  width: 490px;
}

.col-md-7 .hot-travel .item .detail p .t {
  margin-right: 20px;

}

 .col-md-7 .hot-travel .item .detail .info h3 {
  margin: 5px 0;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
   cursor: pointer;
}

.col-md-7 .hot-travel .item .extra .action {
  float: right;
  width: 100px;
  height: 30px;
  position: relative;
}

.col-md-7 .hot-travel .item .extra .action .btn {
  display: inline-block;
  width: 120px;
  height: 95px;
  border: 0px solid #ff9d00;
  text-align: center;
  font-size: 38px;
  border-radius: 2px;
  color: #ff9d00;
  line-height: 20px;
  padding: 29px 20px 0px 0px;
}

.col-md-7 .hot-travel .item .extra .action .btn:hover {
  background: #ff9d00;
  color: #fff;
}

.col-md-7 .hot-travel .item .extra .action .promo-tag {
  position: absolute;
  right: 0;
  bottom: 35px;
}

.righter {
  float: right;
  cursor: pointer;
  font-size: 13px;
  color: #007ed9;
}

.notice-list li {
  padding-left: 12px;
  line-height: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.gray-point {
  height: 3px;
  width: 3px;
  font-size: 0;
  position: relative;
  left: -14px;
  top: -2px;
  background-color: #ccc;
  display: inline-block;
}

.notice-list li .title {
  color: #ff9d00;
}

#MessageModal .form-group {
  overflow: hidden;
}