.container {
  height: 100%;
  width: 100%;
  position: relative;
}

#background_video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.login-box {
  position: absolute;
  width: 360px;
  background: rgba(255,255,255,0.2);
  top: 50%;
  left: 50%;
  margin: -180px;
  border-radius: 5px;
}

.login-box .login-header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #dadada;
  padding-left: 20px;
  font-size: 14px;
    color:#fff;
}

.login-box .login-header img {
  width: 25px;
  margin-right: 5px;
  vertical-align: middle;
}

.login-box .login-body {
  padding-top: 20px;
}

.login-box .login-body .form-group {
  padding: 0 40px;
}

.login-box .login-body .form-group input {
  height: 38px;
}

.login-box .login-body .form-group .login-btn {
  width: 310px;
  height: 42px;
  border: none;
  background-color: #ffa800;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

.login-box .login-body .fr {
  text-align: right;
}

.login-box .login-body .fr .reg-btn {
  color: #ffa800;
  cursor: pointer;
}

#container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#video_controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#play img {
  width: 100px;
}

#pause img {
  width: 90px;
}

#pause {
  display: none;
}

@media (min-width: 768px) {
  #video_controls {
    display: none;
  }
}

#container {
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

#links {
  margin-top: 50px;
}

#links a {
  border: 2px solid rgba(255, 255, 255, 0.20);
  border-radius: 61px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  display: inline-block;
  margin-right: 15px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin: 10px;
  font-size: 12px;
}

#footer a:first-child {
  float: left;
}

#footer a:last-child {
  float: right;
}