.carousel {
  position: relative;
  height: 480px;
}

.carousel .carousel-inner {
  height: 480px;
}

.carousel .carousel-inner .item {
  height: 480px;
}

.carousel .carousel-inner .item img {
  height: 100%;
  width: 100%;
}

.carousel .mall-menu {
  position: absolute;
  height: 480px;
  width: 280px;
  background-color: red;
  left: 220px;
  top: 0;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, .7);
}

.carousel .mall-menu .mall-menu-item {
  height: 70px;
  display: flex;
  padding-left: 36px;
  border-top: 1px solid hsla(0, 0%, 100%, .1);
}

.carousel .mall-menu .mall-menu-item:hover {
  background: #fff;
}

.carousel .mall-menu .mall-menu-item:hover .title .mall-menu-title {
  color: #000;
}

.carousel .mall-menu .mall-menu-item:hover .mall-menu-arrow {
  color: #ff9d00;
}

.carousel .mall-menu .mall-menu-item:first-child {
  border-top: none;
}

.carousel .mall-menu .mall-menu-item .mall-menu-icon {
  line-height: 70px;
  color: #ff9d00;
  font-size: 20px;
}

.carousel .mall-menu .mall-menu-item .title {
  margin-left: 25px;
  padding-top: 10px;
  width: 130px;
}

.carousel .mall-menu .mall-menu-item .title .mall-menu-title {
  padding-top: 10px;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.carousel .mall-menu .mall-menu-item .title .mall-menu-subtitle {
  font-size: 14px;
  color: silver;
  margin-top: 5px;
}

.carousel .mall-menu .mall-menu-item .mall-menu-arrow {
  line-height: 70px;
  margin-left: 40px;
  color: #fff;
  opacity: .4;
}

.carousel .mall-menu .mall-menu-item .menu-content {
  position: absolute;
  left: 280px;
  top: 30px;
  height: 420px;
  width: 400px;
  background: #fff;
  display: none;
  padding: 20px 30px;
}

.carousel .mall-menu .mall-menu-item:hover .menu-content {
  display: block;
}

.carousel .mall-menu .mall-menu-item .menu-content .menu-content-header {
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #dadada;
}

.carousel .mall-menu .mall-menu-item .menu-content .menu-content-body {
  padding: 20px 0;

}

.carousel .mall-menu .mall-menu-item .menu-content .menu-content-body .menu-content-item {
  line-height: 25px;;
}

.carousel .mall-menu .mall-menu-item .menu-content .menu-content-body .menu-content-item:after {
  display: table;
  content: '';
  clear: both;
}

.carousel .mall-menu .mall-menu-item .menu-content .menu-content-body .menu-content-item li {
  margin-right: 10px;
  float: left;
  font-size: 13px;
}

.discounts {
  margin-top: 20px;
  margin-bottom: 20px;
}

.discounts .discounts-content {
  width: 1160px;
  margin: 0 auto;
}

.discounts .discounts-content {
  display: flex;
  justify-content: space-around;
}

.discounts .discounts-content .discounts-item {
  width: 22%;
}

.discounts .discounts-content .discounts-item img {
  width: 100%;
}

.kill {
  padding-bottom: 120px;
  background-color: #f5f5f5;
  padding-top: 60px;
}

.kill .kill-content {
  width: 1160px;
  margin: 0 auto;
}

.kill .kill-content .kill-header {
  height: 40px;
}

.kill .kill-header .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  float: left;
}

.kill .kill-header .subtitle {
  margin-left: 12px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #636363;
  float: left;
}

.kill .kill-content .kill-time {
  margin-top: 30px;
}

.kill .kill-time .nav-tabs {
  display: flex;
  color: #fff;
  cursor: pointer;
  border-bottom: none;
}

.kill .kill-time .nav-tabs li a {
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  width: 300px;
  height: 50px;
  background-color: #636363;
}

.kill .kill-time .nav-tabs li a .left {
  float: left;
  margin-right: 30px;
  line-height: 30px;
}

.kill .kill-time .nav-tabs li a .right {
  float: left;
  font-size: 14px;
}

.kill .kill-time .nav-tabs li a .right .processing {
  border: 1px solid;
  margin: 0 auto;
  padding: 3px 10px;
  border-radius: 15px;
}

.kill .kill-time .nav-tabs li.active a {
  color: #fff;
  cursor: pointer;
  background-color: #ff9d00;
  border: none;
  cursor: pointer;
}

.kill .kill-time .kill-body {
  margin-top: 30px;
}

.kill .kill-body .kill-pic {
  width: 100%;
}

.kill .kill-body .kill-pic:after {
  display: table;
  content: '';
  clear: both;
}

.kill .kill-body .kill-pic .kill-item {
  width: 30%;
  margin-right: 5%;
  height: auto;
  float: left;
  cursor: pointer;
}

.kill .kill-body .kill-pic .kill-item:last-child {
  margin-right: 0;
}

.kill .kill-body .kill-pic .kill-item img {
  width: 100%;
}

.kill .kill-body .kill-pic .kill-item .describe {
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
}

.kill .kill-body .kill-pic .kill-item .describe .describe-inner {
  max-height: 60px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  padding: 0 10px;
}

.kill .kill-body .kill-pic .kill-item .describe .describe-inner:hover {
  padding-top: 10px;
  max-height: 200px;
  transition: max-height 0.3s;
  color: #ff9d00;
  background-color: #f8f8f8;
}

.kill .kill-body .kill-pic .kill-item .price {
  text-align: right;
  margin-right: 10px;
  color: #ff9d00;
}

.kill .kill-body .kill-pic .kill-item .price .number {
  font-size: 18px;
}

.kill .kill-body .kill-pic .kill-item .price .word {
  font-size: 14px;
}

.package-tour {
  margin-top: 60px;
  padding-bottom: 60px;
}

.package-tour .package-tour-content {
  width: 1160px;
  margin: 0 auto;
}

.package-tour .package-tour-header {
  height: 40px;
}

.package-tour .package-tour-header .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  float: left;
}

.package-tour .package-tour-header .subtitle {
  margin-left: 12px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #636363;
  float: left;
}

.package-tour .package-tour-body {
  margin-top: 30px;
}

.package-tour .package-tour-body .package-tour-list {
  margin-left: -20px;
  margin-top: -20px;
}

.package-tour .package-tour-body .package-tour-list:after {
  display: table;
  content: '';
  clear: both;
}

.package-tour .package-tour-body .package-tour-list .package-tour-one {
  float: left;
  margin: 20px 0 0 20px;
  position: relative;
  width: 570px;
}

.package-tour .package-tour-body .package-tour-list .package-tour-one .pics {
  width: 100%;
  height: 266px;
  overflow: hidden;
}

.package-tour .package-tour-body .package-tour-list .package-tour-one .pics img {
  position: relative;
  top: -56px;
  display: block;
}

.package-tour .package-tour-body .package-tour-list .package-tour-one .mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .2;
}

.package-tour .package-tour-body .package-tour-list .package-tour-one .tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  height: 100px;
  padding: 20px 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #fff;
}

.package-tour .package-tour-body .package-tour-list .package-tour-one .title {
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.package-tour .package-tour-body .package-tour-list .package-tour-one .price {
  position: absolute;
  bottom: 10px;
  right: 15px;
  line-height: 1;
  color: silver;
  font-size: 13px;
}

.package-tour .package-tour-body .package-tour-list .package-tour-one .price em {
  font-size: 32px;
  font-weight: 200;
  color: #ff7467;
}

.package-tour .package-tour-body .package-tour-list .package-tour-item {
  background-color: #fff;
  float: left;
  margin: 20px 0 0 20px;
  width: 275px;
}

.package-tour .package-tour-body .package-tour-list .package-tour-item .pics {
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.package-tour .package-tour-body .package-tour-list .package-tour-item .pics img {
  position: relative;
  top: -12px;
  display: block;
}

.package-tour .package-tour-body .package-tour-list .package-tour-item .infos {
  height: 106px;
  border: 1px solid #ececec;
  border-top: none;
}

.package-tour .package-tour-body .package-tour-list .package-tour-item .infos .title {
  height: 58px;
  padding: 10px 15px 0;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.package-tour .package-tour-body .package-tour-list .package-tour-item .infos .price {
  padding: 5px 15px 0;
  color: #959595;
  line-height: 1;
  text-align: right;
  font-size: 13px;
}

.package-tour .package-tour-body .package-tour-list .package-tour-item .infos .price em {
  font-size: 28px;
  font-weight: 200;
  color: #ff9d00;
}

.package-tour .package-tour-body .package-tour-list .package-tour-more {
  margin: 20px 0 0 20px;
  float: left;
  width: 275px;
  height: 266px;
  background-color: #3fb4e5;
  background-image: linear-gradient(180deg, #40dbe5, #3e87e6);
  cursor: pointer;
}

.package-tour .package-tour-body .package-tour-list .package-tour-more .title {
  padding-top: 46px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.package-tour .package-tour-body .package-tour-list .package-tour-more .arrow {
  padding-top: 16px;
  text-align: center;
}

.package-tour .package-tour-body .package-tour-list .package-tour-more .arrow .glyphicon {
  font-size: 40px;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  padding: 4px;
}

.dangdi-tour {
  padding-bottom: 120px;
  background-color: #f5f5f5;
  padding-top: 60px;
}

.dangdi-tour .dangdi-tour-content {
  width: 1160px;
  margin: 0 auto;
}

.dangdi-tour .dangdi-tour-header {
  height: 40px;
}

.dangdi-tour .dangdi-tour-header .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  float: left;
}

.dangdi-tour .dangdi-tour-header .subtitle {
  margin-left: 12px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #636363;
  float: left;
}

.dangdi-tour .dangdi-tour-body {
  margin-top: 30px;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list {
  margin-left: -25px;
  margin-top: -25px;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list:after {
  display: table;
  content: '';
  clear: both;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-one {
  margin: 25px 0 0 25px;
  float: left;
  position: relative;
  width: 370px;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-one .pics {
  width: 100%;
  height: 265px;
  overflow: hidden;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-one .pics img {
  position: relative;
  left: -14px;
  display: block;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-one .mask {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 175px;
  background-image: linear-gradient(180deg, transparent, #000);
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-one .title {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 50px;
  max-height: 48px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-one .infos {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 10px;
  font-size: 14px;
  color: silver;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-one .infos:after {
  display: table;
  content: '';
  clear: both;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-one .infos .type {
  float: left;
  padding-top: 12px;
  line-height: 20px;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-one .infos .price {
  float: right;
  line-height: 1;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-one .infos .price em {
  margin-right: 5px;
  font-size: 32px;
  font-weight: 200;
  color: #ff9d00;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-more {
  margin: 25px 0 0 25px;
  float: right;
  width: 370px;
  height: 265px;
  background-color: #ff6a71;
  background-image: linear-gradient(180deg, #ff6476, #ff7467);
  cursor: pointer;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-more .title {
  padding-top: 46px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-more .arrow {
  padding-top: 16px;
  text-align: center;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-more .arrow .glyphicon {
  font-size: 40px;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  padding: 4px;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-item {
  margin: 25px 0 0 25px;
  float: left;
  width: 370px;
  height: 120px;
  padding-left: 120px;
  background-color: #fff;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-item .pics {
  position: absolute;
  margin-left: -120px;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-item .title {
  height: 72px;
  padding: 15px 18px 0;
  font-size: 16px;
  line-height: 28px;
  color: #323232;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-item .price {
  padding: 15px 15px 0;
  text-align: right;
  color: #959595;
  line-height: 1;
}

.dangdi-tour .dangdi-tour-body .dangdi-tour-list .dangdi-tour-item .price em {
  font-size: 32px;
  font-weight: 200;
  color: #ff9d00;
}

.mall-footer {
  width: 1160px;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0 50px;
}

.gentuanyou-recommend {
  margin-top: 60px;
  padding-bottom: 60px;
}

.gentuanyou-recommend .gentuanyou-recommend-header {
  height: 60px;
  padding-top: 20px;
  border-bottom: 1px solid #dadada;
}

.gentuanyou-recommend .gentuanyou-recommend-header .title {
  font-size: 24px;
  font-weight: bold;
}

.gentuanyou-recommend .gentuanyou-recommend-header .subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  padding-left: 12px;
}

.gentuanyou-recommend .gentuanyou-recommend-content {
  overflow: hidden;
  margin-top: 20px;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-menu {
  background-color: #3ed099;
  background-image: linear-gradient(180deg, #61d482, #16cbb3);
  float: left;
  width: 275px;
  height: 386px;
  overflow: hidden;
  margin-top: 14px;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-menu.red {
  background-color: #ff6b70;
  background-image: linear-gradient(180deg,#ff6476,#ff7467);
  float: left;
  width: 275px;
  height: 386px;
  overflow: hidden;
  margin-top: 14px;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-menu .title {
  padding: 12px 16px 20px;
  font-size: 36px;
  color: #fff;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-menu .list {
  margin-bottom: 16px;
  height: 144px;
  overflow: hidden;
  padding-left: 16px;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-menu .list a {
  float: left;
  margin: 0 12px 16px 0;
  padding: 0 14px;
  border: 1px solid #fff;
  border-color: hsla(0, 0%, 100%, .7);
  border-radius: 15px;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-menu .hot_title {
  margin: 0 16px 7px;
  border-bottom: 1px solid #fff;
  border-color: hsla(0, 0%, 100%, .4);
  padding: 0 0 7px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-menu .hot_list {
  height: 84px;
  overflow: hidden;
  padding: 0 16px;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-menu .hot_list a {
  float: left;
  white-space: nowrap;
  color: #fff;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-menu .hot_list .gapline {
  float: left;
  width: 0;
  height: 16px;
  border-right: 1px solid #fff;
  border-color: hsla(0, 0%, 100%, .6);
  margin: 6px 10px;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-item {
  position: relative;
  float: left;
  margin: 14px 0 0 20px;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-item .image img {
  display: block;
  background-color: #fff;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-item .titles {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px 11px;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-item .titles .title {
  font-size: 20px;
  height: 30px;
  color: #fff;
}

.gentuanyou-recommend .gentuanyou-recommend-content .gentuanyou-recommend-item .titles .subtitle {
  height: 21px;
  overflow: hidden;
  font-size: 14px;
  color: #fff;
  transition: height .2s;
}