.my-center {
  background-color: #f3f3f5;
  margin-bottom: 60px;
}

.my-center #big-map {
  height: 640px;
  width: 100%;
  padding-top: 20px;
  background: #1f3957;
  position: relative;
}

.my-center #big-map .jvectormap-zoomin,
.my-center #big-map .jvectormap-zoomout {
  display: none;
}

.my-center #big-map #small-map-cover {
  width: 140px;
  height: 68px;
  position: absolute;
  bottom: 50px;
  left: 200px;
  border: 1px dotted #ff9d00;
  z-index: 11;
  box-shadow: 2px 2px 0 0 #ffa800;
}

.my-center #big-map #small-map-cover:hover {
  border: 1px solid #ffa800;
  cursor: pointer;
}

.my-center #big-map #small-map {
  z-index: 10;
  width: 140px;
  height: 68px;
  position: absolute;
  bottom: 50px;
  left: 200px;
}

.my-info {
  position: relative;
  margin: 4em auto;
  box-shadow: none;
  width: 90%;
  max-width: 1024px;
}

.my-info .relative-read {
  top: 0;
  left: 0;
  width: 280px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}

.my-info .info {
  width: 100%;
  padding-left: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.MAvatar {
  text-align: center;
  font-size: 14px;
}

.MAvatar .MAvaImg {
  width: 120px;
  height: 70px;
  position: relative;
  margin: 0 auto;
}

.MAvatar .MAvaImg img {
  position: relative;
  top: -50px;
  z-index: 20;
  border-radius: 120px;
  border: 0;
  vertical-align: middle;
}

.MAvatar .MAvaName {
  font-size: 22px;
  line-height: 24px;
  margin-top: 16px;
}

.MAvatar .its_tags {
  margin: 10px 0;
  text-align: center;
}

.MAvatar .its_tags span {
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
  background: gray;
  color: #fff;
  border-radius: 9px;
}

.MAvatar .MAvaInfo {
  padding: 0 15px;

  margin-top: 16px;
  line-height: 16px;
}

.MAvatar .MAvaInfo span {
  padding: 0 10px 0 7px;
  display: inline-block;
  position: relative;
}

.MAvatar .MAvaInfo .MAvaLevel a {
  color: #ea3c1a;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.flt1 {
  float: left;
}

.MAvatar .MAvaMore {
  margin-top: 20px;
  border-top: #e2e2e2 1px solid;
  border-bottom: #e2e2e2 1px solid;
}

.MAvatar .MAvaMore .MAvaNums {
  position: relative;
  width: 33%;
  float: left;
  padding: 10px 0;
  text-align: center;
  line-height: 20px;
  border-right: #e2e2e2 1px solid;
}

.MAvatar .MAvaMore .last {
  border-right: none;
}

.MAvatar .MAvaMore .MAvaNums strong {
  font-size: 20px;
  color: #444;
}

.my-info .info .info-content {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  height: 100%;
  padding: 15px;
}

.my-info .info .info-content .info-header strong {
  word-break: break-all;
  display: block;
  font-weight: 400;
  max-width: 628px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 25px;
}

.my-info .info .info-content .gailan {
  margin: 40px 0;
  font-size: 18px;
}

.my-info .info .info-content .detail {
  height: 40px;
  line-height: 40px;
  background: #f3f3f5;
  width: 100%;

}

.my-info .info .info-content .detail span {
  margin-left: 10px;
}

.my-info .info .info-content .detail .count {
  color: #ff9d00;
}

a {
  color: #a9c056;
  text-decoration: none;
}

.cd-faq {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  min-height: 300px;
}

.cd-faq:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .cd-faq {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
  }
}

.cd-faq-categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #4e5359;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid #555b61;
  text-overflow: ellipsis;
}

.cd-faq-categories a::before, .cd-faq-categories a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: #7f868e;
}

.cd-faq-categories a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.cd-faq-categories li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .cd-faq-categories {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }

  .cd-faq-categories a {
    font-size: 13px;
    font-weight: 600;
    padding-left: 24px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }

  .cd-faq-categories a::before, .cd-faq-categories a::after {
    display: none;
  }

  .no-touch .cd-faq-categories a:hover {
    background: #555b61;
  }

  .no-js .cd-faq-categories {
    width: 100%;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-faq-categories {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    z-index: 2;
  }

  .cd-faq-categories a::before {
    /* decorative rectangle on the left visible for the selected item */
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #a9c056;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }

  .cd-faq-categories .selected {
    background: #42464b !important;
  }

  .cd-faq-categories .selected::before {
    opacity: 1;
  }

  .cd-faq-categories.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
  }

  .no-js .cd-faq-categories {
    position: relative;
  }
}

.cd-faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}

.cd-faq-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}

.no-js .cd-faq-items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

@media only screen and (min-width: 768px) {
  .cd-faq-items {
    position: static;
    height: auto;
    width: 78%;
    float: right;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-faq-items {
    float: none;
    width: 100%;
    padding-left: 300px;
  }

  .no-js .cd-faq-items {
    padding-left: 0;
  }
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}

.cd-close-panel::before, .cd-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: #6c7d8e;
}

.cd-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cd-close-panel.move-left {
  right: 2%;
}

@media only screen and (min-width: 768px) {
  .cd-close-panel {
    display: none;
  }
}

.cd-faq-group {
  /* hide group not selected */
  display: none;
}

.cd-faq-group.selected {
  display: block;
}

.cd-faq-group .cd-faq-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
}

.no-touch .cd-faq-group .cd-faq-title:hover {
  box-shadow: none;
}

.cd-faq-group .cd-faq-title h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #bbbbc7;
}

.no-js .cd-faq-group {
  display: block;
}

@media only screen and (min-width: 768px) {
  .cd-faq-group {
    /* all groups visible */
    display: block;
  }

  .cd-faq-group > li {
    background: #ffffff;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }

  .no-touch .cd-faq-group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
  }

  .cd-faq-group .cd-faq-title {
    margin: 2em 0 1em;
  }

  .cd-faq-group:first-child .cd-faq-title {
    margin-top: 0;
  }
}

.cd-faq-trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .cd-faq-trigger {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
  }

  .cd-faq-trigger::before, .cd-faq-trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #cfdca0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  .cd-faq-trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }

  .cd-faq-trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .content-visible .cd-faq-trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .content-visible .cd-faq-trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.cd-faq-content p {
  font-size: 12px;
  line-height: 1.6;
  color: #6c7d8e;
}

.cd-faq-content {
  display: block;
}

.cd-faq-content img {
  width: 100%;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  width: 100%;
}

table th {
  padding: 0 15px;
  display: table-cell;
  vertical-align: inherit;
}

table td {
  font-size: 12px;
  color: #666;
  display: table-cell;
  vertical-align: inherit;
}

table tbody tr {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.cd-faq-content .order-hd {
  padding: 0 20px;
  height: 44px;
  background-color: #f5f5f5;
  line-height: 44px;
  text-align: center;
  color: #333;
  font-size: 14px;
  margin-bottom: 20px;
}

.cd-faq-content .order-hd .td-info {
  width: 320px;
  padding-left: 30px;
  text-align: left;
  white-space: nowrap;
}

.cd-faq-content .order-hd .td-date {
  width: 130px;
}

.cd-faq-content .order-hd .td-cost {
  width: 110px;
}

.cd-faq-content .order-hd .td-status {
  width: 110px;
}

.cd-faq-content .order-hd .td-operate {
  width: 70px;
}

.cd-faq-content .order-item {
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.cd-faq-content .order-item caption {
  border: 1px solid #e5e5e5;
  border-bottom: 0 none;
  padding: 0 30px;
  text-align: left;
  line-height: 40px;
  background-color: #f5f5f5;
  display: table-caption;
}

.cd-faq-content .order-item caption span {
  width: 255px;
  padding-right: 10px;
  font-size: 12px
}

.cd-faq-content .order-item caption span a {
  color: #ff9d00;
  text-decoration: none;
}

.cd-faq-content .order-item tbody .td-info {
  text-align: left;
  white-space: nowrap;
  padding: 25px 15px;
}

.cd-faq-content .order-item .pro-img {
  display: inline-block;
  margin-right: 15px;
  width: 70px;
  height: 70px;
  vertical-align: middle;
  overflow: hidden;
}

.cd-faq-content .order-item .pro-img img {
  width: 70px;
  height: 70px;
}

.cd-faq-content .order-item .pro-detail {
  display: inline-block;
  width: 180px;
  font-size: 14px;
  line-height: 18px;
  color: #999;
  vertical-align: middle;
  white-space: normal;
}

.cd-faq-content .order-item .pro-detail .title {
  margin-bottom: 3px;
  color: #333;
  max-height: 36px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cd-faq-content .order-item .sub {
  display: inline-block;
  width: 225px;
  font-size: 14px;
  line-height: 18px;
  color: #999;
  vertical-align: middle;
  white-space: normal;
}

.cd-faq-content .order-item .td-date {
  width: 130px;
}

.cd-faq-content .order-item .td-cost {
  width: 80px;
}

.cd-faq-content .order-item .td-status {
  width: 100px;
}

.cd-faq-content .order-item .td-operate {
  width: 70px;
  padding: 25px 15px;
}

.cd-faq-content .order-item .td-operate a {
  display: block;
  line-height: 24px;
  text-align: center;
  color: #666;
  font-size: 12px;
}

.cd-faq-content .order-item .td-operate .btn {
  margin-bottom: 5px;
  line-height: 26px;
  background-color: #ff9d00;
  color: #fff;
  position: relative;
  padding: 0 5px;
}

#day4 .cd-faq-content .content .hd {
  padding-bottom: 18px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #eee;
}

#day4 .cd-faq-content .content .hd strong {
  font-size: 24px;
  color: #444;
  font-weight: normal;
}

#day4 .cd-faq-content .content .userinfo .clearfix:after {
  content: '';
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
}

#day4 .cd-faq-content .content dt {
  width: 115px;
  float: left;
  padding: 6px 10px 0 0;
  text-align: right;
  color: #a1a1a1;
  font-size: 16px;
}

#day4 .cd-faq-content .content dl {
  clear: both;
  padding-bottom: 15px;
}

#day4 .cd-faq-content .content dd {
  width: 490px;
  float: left;
}

#day4 .cd-faq-content .content dd input {
  width: 208px;
  border: 1px solid #d3d3d3;
  height: 34px;
  padding: 6px 8px;
  font-size: 14px;
  color: #999;
  outline: none;
  transition: box-shadow 0.25s linear 0s;
  border-radius: 3px;
}

#day4 .cd-faq-content .content dd label {
  padding-right: 20px;
  line-height: 32px;
  float: left;
  cursor: pointer;
}

#day4 .cd-faq-content .content dd label .cssradio {
  float: left;
  margin: 6px 6px 0 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

#day4 .cd-faq-content .content dd label .cssradio input[type=radio] {
  position: absolute;
  opacity: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  top: 1px;
  left: 1px;
}

#day4 .cd-faq-content .content dd label .cssradio span {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #ffa800;
}

#day4 .cd-faq-content .content dd label .cssradio span:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}

#day4 .cd-faq-content .content dd label .cssradio input:checked + span:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color: #ffa800;
}

#day4 .cd-faq-content .content .userinfo dd textarea {
  width: 472px;
  height: 110px;
  border: 1px solid #d3d3d3;
  padding: 6px 8px;
  line-height: 1.6em;
  font-size: 14px;
  color: #999;
  outline: none;
  transition: box-shadow 0.25s linear 0s;
  border-radius: 3px;
  resize: none;
  overflow: auto;
}

#day4 .cd-faq-content .content .userinfo dd a {
  background-color: transparent;
  text-decoration: none;
  color: #ff9d00;
  cursor: pointer;
}

#day4 .cd-faq-content .content .userinfo .tips {
  font-size: 12px;
  color: #999;
  line-height: 1.8em;
  background-color: #f6f6f6;
  width: 345px;
  padding: 15px 20px;
}

#day4 .cd-faq-content .content .userinfo .tips .title {
  font-size: 14px;
  color: #999;
  padding-bottom: 5px;
}

#day4 .cd-faq-content .content .userinfo .tips .title b {
  color: #ffa800;
  font-weight: normal;
  font-size: 12px;
  vertical-align: text-top;
}

#day4 .cd-faq-content .content .userinfo .btn-sub {
  padding: 10px 0;
  width: 490px;
  float: right;
}

#day4 .cd-faq-content .content .userinfo .btn-sub button {
  width: 112px;
  height: 36px;
  display: block;
  line-height: 36px;
  background-color: #ffa800;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#day4 .cd-faq-content .content .userinfo form {
  position: relative;
}

#day4 .cd-faq-content .content .userinfo form .my-avatar {
  position: absolute;
  right: 40px;
  top: 20px;
}

#day4 .cd-faq-content .content .userinfo form .my-avatar img {
  width: 80px;
}

#day4 .cd-faq-content .content .userinfo form .my-avatar .upload {
  width: 80px;
  height: 26px;
  background: #ff9d00;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 26px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

#day4 .cd-faq-content .content .userinfo form .my-avatar #upload-avatar {
  display: none;
}

#day2 .cd-faq-content {
  background-color: #fff;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#day2 .cd-faq-content .wd-total {
  margin: 15px 0 5px;
  line-height: 24px;
  font-size: 14px;
  color: #999;
}

#day2 .cd-faq-content .wd-list {
  border-top: 1px solid #e5e5e5;
  margin: 0 -30px 0 0;
}

#day2 .cd-faq-content .wd-list .wd-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 30px 20px 0;
}

#day2 .cd-faq-content .wd-list .wd-item .wd-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 36px;
}

#day2 .cd-faq-content .wd-list .wd-item .wd-title .label-mdd {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #ff9d00;
}

#day2 .cd-faq-content .wd-list .wd-item .wd-detail {
  margin-bottom: 20px;
  line-height: 24px;
  font-size: 14px;
}

#day1 .cd-faq-content .favlist {
  padding-left: 20px;
}

#day1 .cd-faq-content .favlist .post_item {
  padding: 20px 0;
  margin-bottom: -1px;
  border-bottom: 1px dashed #cecece;
  color: #666;
  position: relative;
  overflow: hidden;
}

#day1 .cd-faq-content .favlist .post_item .pic {
  float: left;
  margin-right: 15px;
  width: 195px;
  position: relative;
  height: 140px;
  overflow: hidden;
}

#day1 .cd-faq-content .favlist .post_item .pic img {
  width: 100%;
}

#day1 .cd-faq-content .favlist .post_item .info {
  float: left;
  width: 450px;
}

#day1 .cd-faq-content .favlist .post_item .info h2 {
  height: 25px;
  margin: 0 25px 5px 0;
  font-size: 16px;
  overflow: hidden;
  font-weight: normal;
  color: #ff9d00;
}

#day1 .cd-faq-content .favlist .post_item .info .author {
  height: 22px;
  line-height: 20px;
  position: relative;
  overflow: hidden;
}

#day1 .cd-faq-content .favlist .post_item .info .author p {
  display: inline;
}

#day1 .cd-faq-content .favlist .post_item .info .post_info {
  padding-top: 10px;
  font-size: 14px;
  line-height: 22px;
  clear: both;
}

#day1 .cd-faq-content .favlist .post_item .info .author a {
  color: #fa0;;
}