.success {
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.payment-success {
  margin-top: 50px;
}

.payment-success .order-action {
  text-align: center;
  margin-top: 50px;
}

.payment-success .order-action .pay-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: #ff9d00;
  color: #fff;
  font-size: 24px;
  border-radius: 2px;
  cursor: pointer;
}

.main-title {
  padding: 0 10px;
  margin-bottom: 35px;
}

.main-title .split {
  display: inline-block;
  width: 2px;
  height: 25px;
  background-color: #999;
  margin: 0 15px;
  vertical-align: top;
  margin-top: 3px;
}

.main-title .sub {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.buy-step {
  margin: 15px 0 40px 20px;
}

.buy-step:after {
  content: '';
  display: table;
  clear: both;
}

.buy-step li {
  border-top: 4px solid #ff9d00;
  height: 50px;
  width: 165px;
  float: left;
  position: relative;
}

.buy-step li em {
  font-style: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  color: #999;
}

.buy-step .step1 {
  border-top: 4px solid #ff9d00;
}

.buy-step .step1 p {
  position: absolute;
  left: 0;
  top: -12px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  background: #ff9d00;
}

.buy-step .step1 p i {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #FFF;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 7px;
}

.buy-step .step1 em {
  left: -15px;
  color: #ff9d00;
}

.buy-step .step2 {
  width: 230px;
  border-top: 4px solid #ff9d00;
}

.buy-step .step2 p {
  position: absolute;
  left: 50%;
  margin-left: -11px;
  top: -12px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  background: #ff9d00;
}

.buy-step .step2 p i {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 7px;
}

.buy-step .step2 em {
  left: 88px;
}

.buy-step .step3 p {
  position: absolute;
  right: 0;
  top: -12px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  background: #ff9d00;
}

.buy-step .step3 p i {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 7px;
}

.buy-step .step3 em {
  left: 125px;
  display: block;
  width: 60px;

}

.message {
  margin: 30px 10px 20px;
}

.message h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #ff9d00;
  line-height: 30px;
}

.message h3 i {
  width: 22px;
  height: 22px;
}

.message h3 i img {
  width: 22px;
  vertical-align: middle;
  margin-right: 10px;
}

.message h3 .countdown {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
  font-weight: normal;
}

.message .item {
  margin: 8px 0;
  padding-left: 36px;
  font-size: 16px;
  line-height: 40px;
}

.message .item .order-id {
  float: left;
  width: 110px;
}

.message .item .price {
  font-size: 32px;
  font-weight: bold;
  color: #ff9d00;
  vertical-align: top;
}

.message .item .price em {
  font-style: normal;
  font-size: 22px;
  position: relative;
  bottom: -2px;
}
