.container {
    height: 100%;
}
.register-box {
    position: absolute;
    width: 360px;
    background: #fff;
    top: 50%;
    left: 50%;
    margin: -180px;
    border-radius: 5px;
}

.register-box .register-header {
    height: 50px;
    line-height:50px;
    border-bottom:1px solid #dadada;
    padding-left: 20px;
    font-size: 14px;
}

.register-box .register-header img{
    width: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.register-box .register-body {
    padding-top: 20px;
}

.register-box .register-body .form-group {
    padding: 0 40px;
}

.register-box .register-body .form-group input{
    height:38px;
}

.register-box .register-body .form-group .register-btn {
    width: 310px;
    height: 42px;
    border: none;
    background-color: #ffa800;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}

.register-box .register-body .fr {
    text-align: right;
}

.register-box .register-body .fr .login-btn{
    color: #ffa800;
    cursor: pointer;
}

#container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#video_controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#play img {
    width: 100px;
}

#pause img {
    width: 90px;
}

#pause {
    display: none;
}

@media (min-width: 768px) {
    #video_controls {
        display: none;
    }
}

#container {
    height: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

#links {
    margin-top: 50px;
}

#links a {
    border: 2px solid rgba(255, 255, 255, 0.20);
    border-radius: 61px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-right: 15px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    margin: 10px;
    font-size: 12px;
}

#footer a:first-child {
    float: left;
}

#footer a:last-child {
    float: right;
}