.scenic-header {
  width: 100%;
  position: relative;
}

.scenic-header img {
  width: 100%;
}

.scenic-header .search-box {
  position: absolute;
  width: 400px;
  height: 80px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
}

.scenic-header .search-box .search-input {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
  border: none;
  padding: 5px;
  width: 280px;
}

.scenic-header .search-box .search-btn {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #ff9d00;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
}

.scenic-header .search-box .search-btn .glyphicon {
  color: #fff;
}
.city-recommend {
  margin-top: 60px;
}

.city-recommend .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.city-recommend .col-md-8 .hot-city .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.city-recommend .col-md-8 .hot-city .nav-tabs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.city-recommend .col-md-8 .hot-city .nav-tabs li a {
  border: none;
  border-bottom: none;
  color: #929292;
  cursor: pointer;
  font-size: 18px;
}

.city-recommend .col-md-8 .hot-city .nav-tabs li a:hover {
  background: #fff;
}

.city-recommend .col-md-8 .hot-city .nav-tabs li.active a {
  color: #000;
  border-bottom: 3px solid #ff9d00;
}

.city-recommend .col-md-8 .hot-city .tab-content {
  margin-top: 40px;
}

.city-recommend .col-md-8 .hot-city .tab-content .col-md-4 .city-header {
  font-weight: bold;
}

.city-recommend .col-md-8 .hot-city .tab-content .col-md-4 .city-content {
  padding-top: 20px;
  height: 120px;
  overflow: hidden;
}

.city-recommend .col-md-8 .hot-city .tab-content .col-md-4 .city-content:after {
  content: '';
  display: table;
  clear: both;
}

.city-recommend .col-md-8 .hot-city .tab-content .col-md-4 .city-content .city-name {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.city-recommend .col-md-8 .hot-city .tab-content .col-md-4 .city-content .city-name:hover {
  color: #ff9d00;
  cursor: pointer;
}

.city-recommend .col-md-8 .theme .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
}

.city-recommend .col-md-8 .theme .nav-tabs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.city-recommend .col-md-8 .theme .nav-tabs li a {
  border: none;
  color: #929292;
  cursor: pointer;
  font-size: 18px;
}

.city-recommend .col-md-8 .theme .nav-tabs li a:hover {
  background: #fff;
}

.city-recommend .col-md-8 .theme .nav-tabs li.active a {
  color: #000;
  border-bottom: 3px solid #ff9d00;
}

.city-recommend .col-md-8 .theme .tab-content .col-md-3 {
  height: 400px;
  margin-top: 50px;
}

.city-recommend .col-md-8 .theme .tab-content .col-md-3 .on-pic {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.city-recommend .col-md-8 .theme .tab-content .col-md-3 .on-pic > img {
  height: 100%;
  width: 100%;
}

.city-recommend .col-md-8 .theme .tab-content .col-md-3 .on-pic .describe {
  position: absolute;
  height: 400px;
  padding: 5px 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  top: 350px;
  transition: top 0.5s;
  right: 0;
  left: 0;
}

.city-recommend .col-md-8 .theme .tab-content .col-md-3 .on-pic:hover .describe {
  top: 0;
}

.city-recommend .col-md-8 .theme .tab-content .col-md-3 .on-pic .describe .describe-header {
  border-bottom: 1px solid #fff;
  height: 50px;
  line-height: 50px;
}

.city-recommend .col-md-8 .theme .tab-content .col-md-3 .on-pic .describe .describe-body {
  line-height: 25px;
  font-size: 14px;
  padding-top: 10px;
}

.city-recommend .col-md-8 .theme .tab-content .vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.city-recommend .col-md-8 .theme .tab-content .vertical .image {
  height: 190px;
  overflow: hidden;
  position: relative;
}

.city-recommend .col-md-8 .theme .tab-content .vertical .image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.city-recommend .col-md-8 .theme .tab-content .vertical .image .describe {
  position: absolute;
  height: 190px;
  padding: 5px 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  top: 140px;
  transition: top 0.5s;
  right: 0;
  left: 0;
}

.city-recommend .col-md-8 .theme .tab-content .vertical .image:hover .describe {
  top: 0;
}

.city-recommend .col-md-8 .theme .tab-content .vertical .image .describe .describe-header {
  border-bottom: 1px solid #fff;
  height: 50px;
  line-height: 50px;
}

.city-recommend .col-md-8 .theme .tab-content .vertical .image .describe .describe-body {
  line-height: 25px;
  font-size: 14px;
  padding-top: 10px;
}

.city-recommend .col-md-8 .month {
  margin-bottom: 100px;
}

.city-recommend .col-md-8 .month .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
}

.city-recommend .col-md-8 .month .nav-tabs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-bottom: none;
}

.city-recommend .col-md-8 .month .nav-tabs li {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  margin: 0 10px;
  text-align: center;
}

.city-recommend .col-md-8 .month .nav-tabs li.active {
  background-color: #ff9d00;
}

.city-recommend .col-md-8 .month .nav-tabs li a {
  border: none;
  color: #929292;
  cursor: pointer;
  font-size: 18px;
  line-height: 55px;
  padding: 0;
}

.city-recommend .col-md-8 .month .nav-tabs li a:hover {
  background: none;
}

.city-recommend .col-md-8 .month .nav-tabs li.active a {
  background: none;
  color: #fff;
}

.city-recommend .col-md-8 .month .tab-content .tab-pane.active {
  display: flex;
  margin-top: 50px;
  height: 270px;
}

.city-recommend .col-md-8 .month .tab-content .tab-pane .month-pic {
  position: relative;
  flex: 1;
  margin: 0 10px;
  height: 270px;
  overflow: hidden;
}

.city-recommend .col-md-8 .month .tab-content .tab-pane .month-pic img {
  width: 100%;
  height: 270px;
}

.city-recommend .col-md-8 .month .tab-content .tab-pane .month-pic .describe {
  position: absolute;
  height: 270px;
  padding: 5px 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  top: 220px;
  transition: top 0.5s;
  right: 0;
  left: 0;
}

.city-recommend .col-md-8 .month .tab-content .tab-pane .month-pic .describe .describe-header {
  border-bottom: 1px solid #fff;
  height: 50px;
  line-height: 50px;
}

.city-recommend .col-md-8 .month .tab-content .tab-pane .month-pic .describe .describe-body {
  line-height: 20px;
  font-size: 13px;
  padding-top: 10px;
}

.city-recommend .col-md-8 .month .tab-content .tab-pane .month-pic:hover .describe {
  top: 0;
}