
.gailan_header .row {
    background-color: #f1f1f1;
    padding: 30px 0px 50px 0px;
}

.gailan_header .row .col-md-10 .row {

}

.gailan_header .row .col-md-10 .row .col-md-8 .item img {
    width: 100%;
}

.gailan_header .row .col-md-10 .row .col-md-4 {
    background-color: #fff;

}

.gailan_header .row .col-md-10 .row .col-md-4 .title {

    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
    color: #111;
    line-height: 24px;

}

.gailan_header .row .col-md-10 .row .col-md-4 .describe-text {
    margin-top: 10px;
    line-height: 20px;
    color: #666;
    font-size: 14px;
}

.gailan_header .row .col-md-10 .row .col-md-4 .describe-season {
    margin-top: 10px;
    color: #666;
    font-size: 14px;
}

.gailan_header .row .col-md-10 .row .col-md-4 .title-1 {
    border-top: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 24px;
    font-weight: 500;
    color: #111;
    line-height: 24px;

}

.gailan_header .row .col-md-10 .row .col-md-4 .relate-strategy img {
    padding-top: 5px;
    width: 100px;
    height: 137px;
    float: left;
    padding-left: 2px;
}

.gailan_header .row .col-md-10 .row .col-md-4 .relate-strategy-title {
    padding: 5px 0px 20px 140px;
    font-size: 18px;
    color: #666;
}

.gailan_header .row .col-md-10 .row .col-md-4 .relate-strategy-count {
    color: #666;
    font-size: 14px;
    padding: 5px 0px 20px 140px;
}

.gailan_hot .row {
    padding: 30px 0px 50px 0px;
}

.bigtitle {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.058823;
    color: #636363;
}

.gailan_hot .row .col-md-10 .pic {
    margin-top: 30px;
    margin-left: 19px;
}

.gailan_hot .row .col-md-10 .pic .hot-sale-content {
    overflow: hidden;
}

.gailan_hot .row .col-md-10 .pic .hot-sale-content .hot-sale-item {
    float: left;
    width: 32%;
    display: inline;
    margin: 0 15px 15px 0;
    position: relative;
    height: 284px;
    cursor: pointer;
}

.gailan_hot .row .col-md-10 .pic .hot-sale-content .hot-sale-item .image {
    width: 100%;
}

.gailan_hot .row .col-md-10 .pic .hot-sale-content .hot-sale-item .image img {
    width: 100%;
    height: 200px;
}

.gailan_hot .row .col-md-10 .pic .hot-sale-content .hot-sale-item .image .mark-tag {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 7px;
    line-height: 26px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 12px;
}

.gailan_hot .row .col-md-10 .pic .hot-sale-content .hot-sale-item .caption {
    border: 1px solid #f1f1f1;
    padding: 5px 10px 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90px;
    background-color: #fff;
    transition: height .2s ease-in-out .1s;
    width: 100%;
}

.gailan_hot .row .col-md-10 .pic .hot-sale-content .hot-sale-item .caption:hover {
    height: 115px;
    background: #f9f9f9;
}

.gailan_hot .row .col-md-10 .pic .hot-sale-content .hot-sale-item .caption h3 {
    height: 40px;
    margin-bottom: 15px;
    font-weight: normal;
    color: #666;
    line-height: 21px;
    overflow: hidden;
    font-size: 14px;
    transition: height .2s ease-in-out .1s;
}

.gailan_hot .row .col-md-10 .pic .hot-sale-content .hot-sale-item .caption:hover h3 {
    height: 65px;
}

.gailan_hot .row .col-md-10 .pic .hot-sale-content .hot-sale-item .caption .price {
    color: #ff8a00;
    font-size: 20px;
    padding-left: 150px;
    cursor: pointer;
}

.more{
    text-align: center;
    margin-top: 30px;

}

.gailan_goods .row {
    background-color: #f1f1f1;
    padding: 30px 0px 50px 0px;
}


.gailan_goods .row .col-md-10 .goods .hot-sale-content .hot-sale-item {
    float: left;
    width: 23%;
    display: inline;
    margin: 30px 0px 15px 19px;
    position: relative;
    height: 234px;
    cursor: pointer;
}

.gailan_goods .row .col-md-10 .goods .hot-sale-content .hot-sale-item .image {
    width: 100%;
}

.gailan_goods .row  .col-md-10 .goods .hot-sale-content .hot-sale-item .image img {
    width: 100%;
}

.gailan_goods .row  .col-md-10 .goods .hot-sale-content .hot-sale-item .image .mark-tag {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 7px;
    line-height: 26px;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    font-size: 12px;
}

.gailan_goods .row .col-md-10 .goods .hot-sale-content .hot-sale-item .caption {
    border: 1px solid #f1f1f1;
    padding: 5px 10px 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90px;
    background-color: #fff;
    transition: height .2s ease-in-out .1s;
}

.gailan_goods .row .col-md-10 .goods  .hot-sale-content .hot-sale-item .caption:hover {
    height: 115px;
    background: #f9f9f9;
}

.gailan_goods .row .col-md-10 .goods .hot-sale-content .hot-sale-item .caption h3 {
    height: 40px;
    margin-bottom: 15px;
    font-weight: normal;
    color: #000;
    line-height: 21px;
    overflow: hidden;
    font-size: 14px;
    transition: height .2s ease-in-out .1s;
}

.gailan_goods .row .col-md-10 .goods  .hot-sale-content .hot-sale-item .caption:hover h3 {
    height: 65px;
}

.gailan_goods .row .col-md-10 .goods .hot-sale-content .hot-sale-item .caption .sell {
    float: right;
    padding-top: 8px;
    font-size: 12px;
    color: #666;
}

.gailan_goods .row .col-md-10 .goods  .hot-sale-content .hot-sale-item .caption .price {
    color: #ff8a00;
}

.gailan_strategy .row {
    padding: 30px 0px 50px 0px;
}

.gailan_strategy .row .col-md-10 .nav-tabs {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.gailan_strategy .row .col-md-10  .nav-tabs li a {
    border: none;
    color: #929292;
    cursor: pointer;
    font-size: 18px;
}

.gailan_strategy .row .col-md-10 .nav-tabs li a:hover {
    background: #fff;
}

.gailan_strategy .row .col-md-10 .nav-tabs li.active a {
    color: #000;
    border-bottom: 3px solid #ff9d00;
}

.gailan_strategy .row .col-md-10 .tab-content .col-md-4 {
    height: 400px;
    padding: 50px 20px 0 20px;
}

.gailan_strategy .row .col-md-10 .tab-content .col-md-4 .on-pic {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.gailan_strategy .row .col-md-10 .tab-content .col-md-4 .on-pic > img {
    height: 60%;
    width: 100%;
}

.gailan_strategy .row .col-md-10 .tab-content .col-md-4 .on-pic .describe {
    position: absolute;
    height: 400px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 1);
    top: 210px;
    transition: top 0.5s;
    right: 0;
    left: 0;
    border-top: 2px solid #ff9d00;
}

.gailan_strategy .row .col-md-10 .tab-content .col-md-4 .on-pic:hover .describe {
    top: 100px;
    cursor: pointer;
}

.gailan_strategy .row .col-md-10 .tab-content .col-md-4 .on-pic .describe .describe-img img{
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 70px;
    height: 70px;
    margin-left: 130px;
    margin-top: -35px;
}

.gailan_strategy .row .col-md-10 .tab-content .col-md-4 .on-pic .describe .describe-name{
    line-height: 25px;
    font-size: 12px;
    padding-top: 10px;
    color: #636363;
    text-align: center;
}

.gailan_strategy .row .col-md-10 .tab-content .col-md-4 .on-pic .describe .describe-header {
    height: 50px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    text-align: center;

}

.gailan_strategy .row .col-md-10 .tab-content .col-md-4 .on-pic .describe .describe-body {
    line-height: 25px;
    font-size: 12px;
    padding-top: 10px;
    color: #636363;
}

.gailan_strategy .row .col-md-10 .tab-content .col-md-4 .on-pic .describe .bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 26px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    background: #fff;
}

.gailan_discuss .row {
    background-color: #f1f1f1;
    padding: 30px 0px 50px 0px;
}


.gailan_discuss .row .discuss {
    margin-top: 40px;
}

.gailan_discuss .row .discuss .discuss-text{
    padding-top:20px;
}

.gailan_discuss .row .discuss .discuss-text textarea {
    border: 1px #D2D2D2 solid;
    height: 72px;
    width: 600px;
    padding-left: 10px;
    margin-top: 35px;
    float: left;
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 12px;
    color: #878787;
    border-radius: 5px;

}

.gailan_discuss .row .discuss .discuss-text #submit {
    float: right;
    height: 72px;
    width: 70px;
    background: #C6C6C6;
    font-size: 20px;
    color: #fff;
    line-height: 70px;
    text-align: center;
    border-radius: 5px;
    margin-top: 35px;
}

.gailan_discuss .row .discuss .discuss-text #submit:hover{
    background-color: #ff9d00;
}

.gailan_discuss .row .discuss .discuss-text .clear {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.gailan_discuss .row .discuss ul .user {
    border-bottom: 1px #DBDBDB solid;
    width: 100%;
    float: left;
    padding-bottom: 10px;
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 12px;
}

.gailan_discuss .row .discuss ul .user:after {
    display: table;
    content: '';
    clear: both;
}

.gailan_discuss .row .discuss ul .user h3 {
    float: left;
    height: 48px;
    width: 48px;
    margin-top: 10px;
    overflow: hidden;
}

.gailan_discuss .row .discuss ul .user h3 img {
    width: 100%;
}

.gailan_discuss .row .discuss ul .user .e_con {
    width: 590px;
    float: left;
    margin-left: 15px;
    display: inline;
    position: relative;
}

.gailan_discuss .row .discuss ul .user .e_con h4 {
    float: left;
    font-weight: normal;
    line-height: 14px;
    margin-top: 15px;
}

.gailan_discuss .row .discuss ul .user .e_con h4 a {
    color: #FEA901;
}

.gailan_discuss .row .discuss ul .user .e_con span {
    float: left;
    color: #CA2426;
    margin-left: 6px;
    line-height: 14px;
    margin-top: 15px;
}

.gailan_discuss .row .discuss ul .user .e_con em {
    float: left;
    font-style: normal;
    color: #9A9A9A;
    margin-left: 20px;
    line-height: 14px;
    margin-top: 15px;
}

.gailan_discuss .row .discuss ul .user .e_con .clear {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.gailan_discuss .row .discuss ul .user .e_con p {
    width: 455px;
    float: left;
    color: #666;
    line-height: 20px;
    margin-top: 6px;
}

.gailan_discuss .row .discuss ul .user .e_con .opatation {
    width: 102px;
    position: absolute;
    z-index: 20;
    bottom: 2px;
    right: 0px;
}

.gailan_discuss .row .discuss ul .user .e_con .opatation a {
    float: right;
    line-height: 66px;
    color: #FEA901;
    cursor: pointer;
    font-size: 16px;
}


.gailan_discuss .row .discuss ul .user .e_con .opatation .clear{
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

#turn_page{
    margin-right: 215px;
}

#turn_page li a{
    color: #ff9d00;
}

#turn_page li a:hover {
    background-color: #ff9d00;
    border-color: #ff9d00;
    color:#fff;
}

#turn_page li.active a {
    background-color: #ff9d00;
    border-color: #ff9d00;
    color: #FFF;
}