article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#gallery-wrapper {
  position: relative;
  max-width: 75%;
  width: 75%;
  margin:50px auto;
}
img.thumb {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.white-panel {
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  padding: 10px;
  cursor: pointer;
}
.white-panel h1 {
  font-size: 1em;
  margin-bottom: 5px;
}
.white-panel h1 span {
  color: #ff9d00;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#turn_page li a{
  color: #ff9d00;
}

#turn_page li a:hover {
  background-color: #ff9d00;
  border-color: #ff9d00;
  color:#fff;
}

#turn_page li.active a {
  background-color: #ff9d00;
  border-color: #ff9d00;
  color: #FFF;
}

#select{
  margin-top:50px;
  margin-left:50px;
  font-size: 14px;
}

#select_content{
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  line-height: 24px;
  color: #ff9d00;
  border-radius: 4px;
  border: 1px solid #dadada;
  margin-bottom:4px;
}

#select_content:hover{
  color: #fff;
  background-color: #ff9d00;
}

#select_content.active{
  color: #fff;
  background-color: #ff9d00;
}
#label{
  font-size: 15px;
  margin-bottom: 10px;
  color: #999999;
  vertical-align: middle;
}
#user{
  border-top: 1px solid #dadada;
}

#user img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  vertical-align: middle;
  margin-top: 3px;
}

#user a{
  vertical-align: middle;
  margin-left: 10px;
}

.society-travel {
  width: 100%;
  height: calc(100% - 58px);
  position: relative;
}

.society-travel .background {
  background-image: url(../images/society/society_travel/bg.jpg);
  position: absolute;
  width: 100%;
  height:100%;
  left:0;
  top: 0;
}

.society-travel .up-content {
  z-index: 11;
  width: 100%;
  height: 100%;
  overflow: auto;
}