.header {
  background-color: #fff;
  height: 58px;
  border-bottom: 1px solid #999;
}

.header .col-md-11 {
  position: relative;
  margin: 0 auto;
  height: 58px;
}

.header .col-md-11 .header-left {
  width: 20%;
  height: 58px;
  float: left;
  display: flex;
  align-items: center;
}

.header .col-md-11 .header-left img {
  height: 38px;
}

.header .col-md-11 .header-left .site-title {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Heiti SC";
}

.header .col-md-11 .header-center {
  width: 45%;
  height: 58px;
  float: left;
}

.header .col-md-11 .header-search {
  width: 20%;
  height: 58px;
  float: left;
  padding: 0 20px;
  position: relative;
}

.header .col-md-11 .header-search .input-group {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 180px;
}

.header .col-md-11 .header-search .input-group .btn-search {
  color: #ff9d00;
}

.header .col-md-11 .header-right {
  width: 15%;
  height: 58px;
  float: left;
}

.header .col-md-11 .header-center .header-tab {
  float: left;
  padding: 0 20px;
  line-height: 58px;
  cursor: pointer;
}

.header .col-md-11 .header-center .header-tab.active {
  background-color: #ff9d00;
  color: #fff;
  text-decoration: none;
}

.header .col-md-11 .header-center .header-tab:hover {
  border-bottom: 2px solid #ff9d00;
  color: #ff9d00;
  line-height: 56px;
}

.header .col-md-11 .header-center .header-tab.active:hover {
  background-color: #ff9d00;
  color: #fff;
  text-decoration: none;
}

.header .col-md-11 .header-right {
  line-height: 58px;
}

.header .col-md-11 .header-right .login-or-reg, .show-name {
  display: none;
}

.header .col-md-11 .header-right .login-or-reg, .show-name .dropdown-menu a {
  cursor: pointer;
}

.header .col-md-11 .header-right .login-or-reg .to-login, .to-reg {
  cursor: pointer;
}

.header .col-md-11 .header-right .login-or-reg .to-login:hover, .to-reg:hover {
  color: #ff9d00;
}

.header .col-md-11 .header-right .show-name .hello {
  cursor: pointer;
}

.gouwuche {
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 100;
}

.gouwuche:hover .gouwuche-content {
  display: block;
}

.gouwuche .gouwuche-header {
  width: 100px;
  height: 70px;
  text-align: right;
  padding-top: 20px;
}

.gouwuche .gouwuche-header img {
  width: 40px;
  vertical-align: middle;
}

.gouwuche .gouwuche-header .count {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #f01414;
  color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
}

.gouwuche .gouwuche-content {
  display: none;
  width: 300px;
  height: 400px;
  border: 1px solid #dadada;
  position: absolute;
  left: -280px;
  top: -330px;
  background: #fff;
  border-radius: 10px;

}

.gouwuche .gouwuche-content:before,
.gouwuche .gouwuche-content:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  bottom: 20px;
  right: -11px;
  overflow: hidden;
  pointer-events: none;
  transform: rotate(135deg);
  border-top: 1px solid #dadada;
  background: #fff;
  border-left: 1px solid #dadada;
}



.cd-top {
  display: inline-block;
  height: 68px;
  width: 68px;
  position: fixed;
  bottom: 230px;
  right: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(255, 157, 0, 0.8) url(../images/top/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* 如果用户继续向下滚动,这个按钮的透明度会变得更低 */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}